html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.container {
  max-width: 1000px;
  width: 100%;
  background-color: #1f669d;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  background-color: #1F9D55;
  padding: 2rem;
  cursor: pointer;
}
nav a {
  font-size: 1.6rem;
  color: silver;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
  text-decoration-line: none;
  background-color: #1F9D55;
  border-radius: 2px;
}
nav a:hover {
  background-color: #1A4731;
}
nav a:active {
  background-color: #1A4731;
  transform: translateY(4px);
}
.carousel {
  display: flex;
}
.leftBut,
.rightBut {
  margin-top: 300px;
  color: black;
  font-size: 75px;
  font-weight: bold;
  text-align: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel-img {
  border-radius: 2rem;
  border: 4px solid black;
  display: none;
}
.card {
  display: none;
}
.img-container {
  display: flex;
  flex-flow: column-reverse;
  padding: 2rem;
}
@media (min-width: 500px) {
  .img-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 10rem;
  }
}
@media (min-width: 840px) {
  .img-container {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding: 3rem;
  }
}
.img-container .sec-img {
  border-radius: 2rem;
  border: 4px solid black;
}
.img-container .logo {
  border-radius: 2rem;
  border: 4px solid black;
  margin: 2rem 0;
}
.slogan {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.slogan h1 {
  font-size: 3rem;
  color: #1A4731;
}
.slogan .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  width: 50%;
  height: 4rem;
  background-color: #1F9D55;
  color: silver;
  border-radius: 2rem;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
}
.slogan .btn:hover {
  background-color: #1A4731;
}
.slogan .btn:active {
  background-color: #1A4731;
  transform: translateY(4px);
}
#bottom-content {
  display: flex;
  flex-flow: column;
  padding: 3rem;
}
.article {
  margin: 2rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: #1F9D55;
  position: relative;
  height: 5rem;
  overflow: hidden;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s;
}
.article h2 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
}
.article p {
  font-size: 1.6rem;
  padding: 1rem;
}
.article .open {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 1.6rem;
  color: silver;
  cursor: pointer;
  transform: translate(-50%);
}
.article .close {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 1.2rem;
  color: silver;
  cursor: pointer;
  transform: translate(-50%);
}
.article .hide-btn {
  display: none;
}
.article .panel-buttons {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 2rem;
  color: silver;
  cursor: pointer;
  transform: translate(-50%);
}
.article .toggle-on {
  display: block;
}
.article-open {
  height: 20rem;
}
#contact {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 2rem;
  padding: 4rem 0;
}
#contact h3 {
  font-size: 4rem;
}
footer {
  display: flex;
  justify-content: center;
  font-size: 4rem;
}
