



nav {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem; 
    background-color: #1F9D55;
    padding: 2rem;
    cursor: pointer;
}

nav a {
    font-size: 1.6rem;
    color:silver;
}



.img-container{

    display: flex;
    flex-flow: column;
    @media@website{
        display: flex;
        flex-flow: row;
        justify-content: center;
        padding: 3rem;

    }
   
}

.slogan{
    display: flex;
    flex-flow: column;
    align-items: center;
    
 h1{
    font-size: 3rem;
    color: #1A4731;
}

.btn {.custom-btn(@Green-Dark, silver)
    
}
}

.top-content{
    display: flex;
    flex-flow: column;
    h4{
        margin: 2rem;

    }
}
.contact{
    display: flex;
    flex-flow: column;
    padding: 3rem;
}
footer{
    display: flex;
    justify-content: center;
    font-size: 4rem;
}
